force-app/main/default/flows/MCMockTestToolExtensionExecution.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>Verify_Consolidated_Result_Id</name>
        <label>Verify Consolidated Result Id</label>
        <locationX>167</locationX>
        <locationY>198</locationY>
        <defaultConnector>
            <targetReference>UpdateResult</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Consolidated_Result_Id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>consolidatedResultId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_QG_Job_Step_Result</targetReference>
            </connector>
            <label>Is Consolidated Result Id</label>
        </rules>
    </decisions>
    <formulas>
        <name>QGJobStepResultId</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(
SUBSTITUTE(
SUBSTITUTE(
SUBSTITUTE(
{!consolidatedResultId},
&quot;]&quot;,&quot;&quot;),
&quot;[&quot;,&quot;&quot;),
&quot;&apos;&quot;,&quot;&quot;),
&apos;&quot;&apos;,&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>testResultId</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(
SUBSTITUTE(
SUBSTITUTE(
SUBSTITUTE(
{!resultIds},
&quot;]&quot;,&quot;&quot;),
&quot;[&quot;,&quot;&quot;),
&quot;&apos;&quot;,&quot;&quot;),
&apos;&quot;&apos;,&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>topicUrl</name>
        <dataType>String</dataType>
        <expression>&apos;/events/copado/v1/step-result/&apos; + {!resultId}</expression>
    </formulas>
    <interviewLabel>[MC Mock] Test Tool Extension Execution {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[MC Mock] Test Tool Extension Execution</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>SendPlatformEvent</name>
        <label>Send Platform Event</label>
        <locationX>219</locationX>
        <locationY>505</locationY>
        <inputAssignments>
            <field>copado__Payload__c</field>
            <value>
                <elementReference>payload</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Topic_Uri__c</field>
            <value>
                <elementReference>topicUrl</elementReference>
            </value>
        </inputAssignments>
        <object>copado__Event__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Update_QG_Job_Step_Result</name>
        <label>Update QG Job Step Result</label>
        <locationX>54</locationX>
        <locationY>371</locationY>
        <connector>
            <targetReference>SendPlatformEvent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QGJobStepResultId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>copado__Progress_Status__c</field>
            <value>
                <stringValue>Success</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Status__c</field>
            <value>
                <stringValue>Success</stringValue>
            </value>
        </inputAssignments>
        <object>copado__Result__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Emulating a Test Extension, we update the test&apos;s result after a &quot;evaluated&quot; criteria, which in this emulation doesn&apos;t take place.</description>
        <name>UpdateResult</name>
        <label>Update Result</label>
        <locationX>400</locationX>
        <locationY>362</locationY>
        <connector>
            <targetReference>SendPlatformEvent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>testResultId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>copado__Progress_Status__c</field>
            <value>
                <stringValue>Success</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Status__c</field>
            <value>
                <stringValue>Success</stringValue>
            </value>
        </inputAssignments>
        <object>copado__Result__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Verify_Consolidated_Result_Id</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>payload</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{
  &quot;isSuccess&quot;: true
}</text>
    </textTemplates>
    <variables>
        <name>consolidatedResultId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>resultId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>resultIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>